---
layout: default
title: Ways to help Ukraine!
---

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0 d-flex w-100">
                <li class="nav-item me-auto">
                    <a class="nav-link btn btn-light btn-sm" aria-current="page"
                        href="http://rigatechgirls.com/hackathon">Riga
                        TechGirls</a>
                </li>
                <li class="nav-item">
                    <select class="nav-link custom-select mx-2" style="padding-right:0" id="languageSelector">
                        <option selected value="EN">EN</option>
                        <option value="LV">LV</option>
                    </select>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-light btn-sm" href="#">Contact us</a>
                </li>
            </ul>
        </div>
</nav>

<!--
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark"
    style="background-image: url('/assets/lead.jpg'); background-size: 100% 100%">
    <div class="col-md-8 col-xl-6 p-4" style="background-color: #000000a6">
        <h1 class="display-4 background-color: grey"><strong>#WaysToHelp</strong></h1>
        <p class="lead my-3">
            All of us want to help Ukrainians. <br>
            Every little action counts.<br>
            What's your way?</p>
    </div>
</div>
-->

<div class="p-4 p-md-5 rounded text-center m-auto">
    <div class="p-4">
        <h1 class="display-4 fw-bold">#WaysToHelp</h1>
        <p class="lead my-3">
            All of us want to help Ukrainians. <br>
            Every little action counts.<br>
            What's your way?</p>
    </div>
</div>

<div>
    {{ site.data.en.tags.money }}
    {% for tag in site.data.en.tags %}
    <div class="row d-flex {% cycle 'flex-row', 'flex-row-reverse' %}">
        <section class="accordion p-3 col-lg-7">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title">
                        {{ tag.name }}
                    </h2>
                    <p class="card-text">
                        {{ tag.description | newline_to_br }}
                    </p>
                    <button type="button" class="btn btn-secondary stretched-link" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ tag.id }}">
                        Shows ways to help
                    </button>
                </div>
            </div>
            <div class="accordion ps-2">
                <div class="accordion-collapse collapse" id="collapse-{{ tag.id }}">
                    {% for project in site.data.en.projects %}
                    {% if project.tags contains tag.id %}
                    <article class="card my-2">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ project.name }}</h5>
                            <hr />
                            <p class="card-text">{{ project.description | newline_to_br }}</p>
                            <hr />
                            <div class="text-truncate">
                                <a href="{{ project.url }}">{{ project.url }}</a>
                            </div>
                        </div>
                    </article>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <figure class="figure col-lg-5 d-none d-lg-block text-center">
            <img src="/assets/{{ tag.img }}" class="figure-img img-fluid rounded" />
        </figure>
    </div>
    {% endfor %}
</div>